---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Maintenance....</title>
  </head>
  <body class="bg-lime-500">
    <section>
      <div
        class="w-full mx-auto max-w[560px] p-4 min-h-72 pt-14 pb-10 sm:pt-20 sm:pb-12 lg:max-w-2xl lg:px-4 lg:pt-24 lg:pb-14"
      >
        <h1
          class="text-5xl select-none sm:text-6xl lg:text-8xl text-bold uppercase"
        >
          This website is under maintenance.
        </h1>
        <p class="mt-4 mb-6 select-none sm:mt-6 sm:mb-8 lg:text-lg">
          Stay tuned....
        </p>
      </div>
    </section>
  </body>
</html>
