---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Building Websites That Don't Suck">
  <section>
    <div
      class="text-green-200
  w-full
  mx-auto
  max-w[560px]
  p-4
  min-h-72
  pt-14
  pb-10
  sm:pt-20
  sm:pb-12
  lg:max-w-2xl
  lg:px-4
  lg:pt-24
  lg:pb-14"
    >
      <h1
        class="text-5xl select-none sm:text-6xl lg:text-7xl text-bold uppercase"
      >
        HI, I'M HAWWIN
      </h1>
      <p
        class="mt-4 mb-6 select-none sm:mt-6 sm:mb-8 lg:text-lg text-justify text-zinc-50"
      >
        Web dev by day, electronics tinkerer by night! I love building stuff for
        the web, but I also get a kick out of soldering circuits and seeing how
        things work in the real world. This mashup of interests fuels my desire
        to create interactive projects that blend the digital and physical.
        Think responsive websites that control robots, or games you play with
        custom controllers!, and I'm always itching to learn more."
      </p>
    </div>
  </section></Layout
>
